doc/.$*.bkp
*/src-tauri/*.sqlite
*/src-tauri/config.toml
server/*/config.toml
server/cert/*.key
server/cert/*.crt
server/cert/*.csr
server/cert/*.der
server/cert/*.srl
server/cert/*.conf
server/*/Cargo.lock
server/*/my_id
server/target
server/*/cluster/*
server/redis-cluster/*/data/*
server/redis-cluster/16379/*
server/redis-cluster/26379/data/*
server/redis-cluster/16380/*
server/redis-cluster/26380/data/*
server/redis-cluster/16381/*
server/redis-cluster/26381/data/*
server/redis-cluster/dump.rdb
server/redis-cluster/appendonlydir/*
server/postgres/data/*
.DS_Store
/server/.DS_Store
/server/seqnum/append
/server/msglog/*
/server/kafka-cluster/kafka-logs/*
/server/msgprocessor/config.toml
/server/kafka-cluster/compose/*