server/*/target
doc/.$*.bkp
client/.idea
client/dist
client/node_modules
*/src-tauri/*.sqlite
*/src-tauri/config.toml
server/*/config.toml
server/cert/*.key
server/cert/*.crt
server/cert/*.csr
server/cert/*.der
server/cert/*.srl
server/cert/*.conf
server/*/Cargo.lock
server/*/my_id
server/target
server/*/cluster/*
server/redis-cluster/*/data/*
server/postgres/data/*
.DS_Store
/server/.DS_Store
/server/seqnum/append
/server/msglog/*
/server/kafka-cluster/kafka-logs/*
/server/msgprocessor/config.toml
/server/kafka-cluster/compose/*