.chat-header {
    @apply w-full h-full grid select-none box-border overflow-y-hidden;
    grid-area: chat-header;
    grid-template: "chat-header-remark chat-header-show-info" 1fr / 240px 1fr;
}

.chat-header-remark {
    @apply w-full h-full text-base font-semibold text-left box-border overflow-y-hidden text-black pl-5;
    grid-area: chat-header-remark;
    line-height: 60px;
}

.chat-header-show-info {
    @apply w-full h-full box-border overflow-y-hidden;
    grid-area: chat-header-show-info;
}

.chat-header-show-info button {
    @apply w-14 h-10 p-0 border-none float-right text-base font-bold mr-1 my-3 rounded-xl
    bg-gradient-to-r from-blue-300 from-20% via-indigo-300 via-50% to-fuchsia-300 to-70%;
    line-height: 40px;
}

.chat-header-show-info button:hover {
    @apply bg-gradient-to-r from-blue-400 from-20% via-indigo-400 via-50% to-fuchsia-400 to-70%;
}

.chat-header-show-info button:active {
    @apply bg-gradient-to-r from-blue-300 from-20% via-indigo-300 via-30% to-fuchsia-300 to-70%;
}