.user-msg-list-item {
    @apply w-full h-16 grid bg-white box-border border-b border-gray-300 border-t-0 border-l-0 border-r-0 select-none;
    grid-template:
        "u-m-l-item-avatar u-m-l-item-remark u-m-l-item-timestamp" 32px
        "u-m-l-item-avatar u-m-l-item-msg u-m-l-item-number" 31px / 63px 1fr 60px;
}

.u-m-l-item-avatar {
    @apply w-full h-full m-0 p-1 border-none box-border rounded-full;
    grid-area: u-m-l-item-avatar;
}

.u-m-l-item-remark {
    @apply h-full w-full flex items-center box-border overflow-hidden pl-4 text-black font-medium;
    grid-area: u-m-l-item-remark;
    line-height: 32px;
}

.u-m-l-item-msg {
    @apply h-full w-full flex items-center box-border overflow-hidden pl-4 text-black font-medium;
    grid-area: u-m-l-item-msg;
    line-height: 32px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    padding: 0 0 0 10px;
    font-weight: 400;
    color: #000;
}

.u-m-l-item-a {
    grid-area: u-m-l-item-a;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.u-m-l-item-a:hover {
    transition-delay: 500ms;
    background-color: red;
    opacity: 0.9;
    line-height: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.u-m-l-item-timestamp {
    @apply h-full w-full flex text-left box-border overflow-hidden pl-2 text-black font-medium;
    grid-area: u-m-l-item-timestamp;
    line-height: 32px;
}

.u-m-l-item-number {
    @apply h-full w-full flex text-left box-border overflow-hidden pl-2 text-black font-medium;
    grid-area: u-m-l-item-number;
    line-height: 32px;
}

.number-0 {
    @apply w-5 h-5 font-normal text-white items-center justify-center flex text-center bg-red-600;
}