.contact-info-main {
    @apply w-full h-full grid;
    grid-template:
        ". ." 40px
        "avatar avatar" 96px
        "account-id logout" 64px
        "signature ." 64px
        "nickname ." 64px
        "remark ." 64px
        ". ." 1fr / 1fr 80px;
}

.info-tag {
    @apply w-16 h-full p-0 m-0 border-none rounded-full box-border inline-block;
}

.info-tag img {
    @apply w-full h-full border-none p-1;
}

.info-body {
    @apply h-full w-max
}

.contact-info-avatar {
    @apply h-full box-border border-none rounded-full bg-white flex justify-center select-none;
    grid-area: avatar;
}

.contact-info-avatar img {
    @apply h-24 w-24 border-none rounded-full;
}

.avatar-img:hover {
    outline: invert;
}

.contact-info-account-id {
    @apply w-80 h-full text-black text-lg font-bold items-center flex;
    grid-area: account-id;
}

.contact-info-nickname {
    grid-area: nickname;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.contact-info-remark {
    grid-area: remark;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.contact-info-signature {
    grid-area: signature;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.contact-info-logout {
    grid-area: logout;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    @apply w-20 h-10 inline-block border-none rounded-lg bg-blue-500 text-white text-lg font-bold;
}

.logout-btn:hover {
    cursor: pointer;
}

.logout-btn:active {
    background-color: #009bff;
}

.c-i-input {
    @apply w-full h-full border-none rounded-lg bg-white text-black text-lg font-bold outline-none m-0 p-0;
}