.chat {
    width: 100%;
    height: 100%;
}

.chat-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "chat-header"
        "msg-list"
        "input-area";
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100% - 320px) 260px;
}