.chat {
    width: 100%;
    height: 100%;
}

.chat-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "list more"
        "input more";
    grid-template-columns: minmax(400px 1fr) auto;
    grid-template-rows: 60px minmax(600px, 1fr) minmax(300px auto);
}