.user-msg-list-item {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-areas:
        "avatar remark timestamp"
        "avatar msg number";
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 1fr 1fr;
    background-color: white;
}

.avatar {
    grid-area: avatar;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
}

.remark {
    grid-area: remark;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    font-weight: bolder;
    text-align: left;
    align-items: center; /* 垂直居中 */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    color: black;
}

.msg {
    grid-area: msg;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    padding: 0 0 0 10px;
    font-weight: 400;
    color: #000;
}

.timestamp {
    grid-area: timestamp;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: flex-end;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    color: black;
}

.number {
    grid-area: number;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.number-0 {
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    line-height: 20px;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    color: white;
    text-align: right;
    border-radius: 50%;
    background-color: red;
}

