.layout {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "header header"
        "list main";
}

.list {
    height: 100%;
    grid-area: list;
    min-width: 240px;
    /* background-color: #eee; */
}

.main {
    height: 100%;
    grid-area: main;
    /* background-color: #fff; */
}