.contact-info {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "na"
        "avatar"
        "account-id"
        "signature"
        "nickname"
        "remark"
        "logout"
        "na-0";
    grid-template-columns: 1fr;
    grid-template-rows: 40px 100px 60px 60px 60px 60px 60px 1fr;
}

.contact-info-avatar {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    grid-area: avatar;
    display: flex;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.avatar-img {
    height: 100px;
    width: 100px;
    border: none;
    padding: 0;
    border-radius: 50%;
}

.avatar-img:hover {
    outline: invert;
}

.contact-info-account-id {
    grid-area: account-id;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.contact-info-nickname {
    grid-area: nickname;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.contact-info-remark {
    grid-area: remark;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.contact-info-signature {
    grid-area: signature;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.contact-info-logout {
    grid-area: logout;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    width: 80px;
    height: 40px;
    display: inline-block;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    font-weight: 900;
}

.logout-btn:hover {
    cursor: pointer;
}

.logout-btn:active {
    background-color: #009bff;
}

.c-i-input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}