.layout {
    @apply h-full grid grid-rows-[60px,1fr] grid-cols-[300px,1fr];
    grid-template-areas: "header header" "list main";
}

.list {
    @apply h-full min-w-[240px];
    grid-area: list;
}

.main {
    @apply h-full;
    grid-area: main;
}