@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply h-full w-full p-0 m-0 border-none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-scrollbar: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
